<?xml version="1.0" encoding="utf-8"?>
<manifest package="mvp.cool.master"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.ui.activity.HomeActivty"
            android:theme="@style/CommonViewStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.SafetyCenterActivity"
            android:theme="@style/CommonViewStyle"/>
        <activity
            android:name=".mvp.ui.activity.VerifyActivity"
            android:theme="@style/CommonViewStyle">
        </activity>
        <activity
            android:name=".mvp.ui.activity.AutonymActivity"
            android:theme="@style/CommonViewStyle">
        </activity>
        <activity
            android:name=".mvp.ui.activity.AutonuCommitActivity"
            android:theme="@style/CommonViewStyle">
        </activity>
        <activity
            android:name=".mvp.ui.activity.AutonuFinshActivity"
            android:theme="@style/CommonViewStyle">
        </activity>
        <activity
            android:name=".mvp.ui.activity.MeLocationActivty"
            android:theme="@style/CommonViewStyle"/>
        <activity
            android:name=".mvp.ui.activity.LocationDetailActivity"
            android:theme="@style/CommonViewStyle"/>
        <activity
            android:name=".mvp.ui.activity.MeBankActivity"
            android:theme="@style/CommonViewStyle">
        </activity>
        <activity
            android:name=".mvp.ui.activity.AddBankActivity"
            android:theme="@style/CommonViewStyle">
        </activity>
        <activity
            android:name=".mvp.ui.activity.WiterBankActivity"
            android:theme="@style/CommonViewStyle">
        </activity>
        <activity
            android:name=".mvp.ui.activity.MyBankActivity"
            android:theme="@style/CommonViewStyle">
        </activity>
        <activity android:name=".mvp.ui.activity.BillActivity"
                  android:theme="@style/CommonViewStyle">
        </activity>
    </application>

</manifest>